@import './utils';

body {
  padding: 0;
  margin: 0;
}

.main {
  background-color: $white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.picsPage {
  &__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: .3fr 1fr;
  }

  &__pic-box {
    & img {
      max-width: 84vw;
      max-height: 84vh;
    }
  }

  &__hl-box {
    padding: 2rem;

    & h1 {
      font-size: 4rem;
      font-family: 'Rye', cursive;
      color: $shadow--light;
    }

    & ul {
      line-height: 1rem;
    }

    & li {
      font-family: 'Rokkitt', serif;
      font-size: 2.7rem;
      line-height: 2.9rem;
      margin-left: 7rem;
    }
  }

  &__box {
  grid-column-start: 1;
  grid-column-end: -1;
  border-top: solid .3rem $shadow;
  border-bottom: solid .3rem $shadow;
  }
}

.uploader {
  &__container {
    background-color: $shadow--light;
  }

  &__box {
    padding: 0 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    & input[type="file"] {
        color: $nav--green;

        &:hover {
          cursor: pointer;
        }
    }
  }

  &__button {
    background-color: $link--blue;
    color: $white;
    text-transform: uppercase;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.1rem;
    border: none;
    border-radius: .4rem;
    padding: .5rem 1rem;
    margin: .6rem;
    width: 8rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__label {
    padding: 1rem;
    font-family: 'Share Tech', sans-serif;
    color: $white;
    font-size: 2.1rem;
    text-transform: uppercase;
  }

  &__browse {
    padding-left: 18rem;
    padding-bottom: .4rem;
    text-align: center;
    color: $white;
  }

  &__results-container {
    border: solid .1rem $orange;
  }

  &__results-box {
    border: solid .1rem $green;
  }

  &__results-img {
    border: solid .1rem $blue;
  }
}

.list {
  &__container {
    grid-column-start: 1;
    grid-column-end: -1;
    background-image: linear-gradient(to right, $black, $shadow, $shadow, $black);
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 1rem;
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
    border-bottom: solid .3rem $shadow;

    & h4 {
      color: $white;
    }
  }

  &__box {
    padding: 1rem 45rem;


    & button {
      min-width: 7rem;
      margin: .4rem .2rem;
      font-size: 1rem;
      background-color: $nav--green;
      color: $white;
      border: none;
      border-radius: .2rem;
      padding: .4rem .6rem;
    }
  }
}

.gallery {

  &__container {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 2rem;
    text-align: center;
  }

  &__box {
    width: 100%;
  }
}

.folders {
  &__container {
    padding: 0;
    margin: 0;
  }

  &__title-box {
    font-family: 'New Rocker', 'Rokkitt', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
  }
}

.pic-card {
  &__container {
    display: inline-block;
    margin: 1rem;
  }

  &__box {
    border: solid $shadow--less .2rem;
    border-radius: .6rem;
    width: 22rem;
    text-align: center;
  }

  &__box {
    padding: 1rem;

    & h2 {
      color: $shadow--light;
    }
  }

  &__pic-box {
    padding: 1rem;

    & img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__button-box {
    padding: 1rem;

    & button {
      margin: .2rem;
      border: none;
      border-radius: .4rem;
      padding: .3rem .7rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-family: 'Rokkitt', sans-serif;
    }
  }

  &__rename {
    background-color: $shadow--less;
    color: $white;
  }

  &__delete {
    background-color: $red;
    color: $white;
  }
}

.cancel {
  background-color: $orange;
}

.results {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Rokkitt', sans-serif;
  color: $white;
}
