@mixin mediaquery ($breakpoint) {

	@if $breakpoint == tiny {
    @media (max-width: 25em) { @content }; //400px
  };


	@if $breakpoint == minphone {
    @media (max-width: 27em) { @content }; //432px
  };

	@if $breakpoint == gal9 {
    @media (width: 360px ) and (height: 740px ) and (-webkit-device-pixel-ratio : 4) { @content }; //Galaxys9
  };

	@if $breakpoint == minlargephone {
    @media (min-width: 27em) { @content }; //432
  };

	@if $breakpoint == pixel2XL {
		@media (width: 411px ) and (height: 823px ) { @content }; //Pixel2XL
	};

	@if $breakpoint == iphonex {
    @media (width: 375px )  and (-webkit-device-pixel-ratio : 3) { @content }; //600  ...and (height: 812px)
  };

	@if $breakpoint == minphoneland {
    @media (min-width: 37em) { @content }; //592
  };

	@if $breakpoint == mintabport {
    @media (min-width: 47em) { @content }; //752
  };

	@if $breakpoint == mintabland {
    @media (min-width: 57em) { @content }; //912
  };

	@if $breakpoint == minipadland {
    @media (min-width: 63.9em) { @content }; //1022
  };

  @if $breakpoint == desktop {
    @media (min-width: 72em) { @content }; //1152
  };

	@if $breakpoint == biggerdesktop {
    @media (min-width: 93em) { @content }; //1488
  };

	@if $breakpoint == bigscreen {
    @media (min-width: 112.5em) { @content }; //1800+
  };

}

@mixin lookBorder {
  border: solid .1rem $orange;
}

@mixin lookBorderBlue {
	border: solid .1rem $blue;
}

@mixin lookBorderGreen {
	border: solid .1rem $green;
}

@mixin lookBorderPurple {
	border: solid .1rem $purple;
}


// Custom colors
$link: silver;
$link--blue: #2e76cf;
$link--visited: #000099;
$shadow: #262626;
$shadow--light: rgba($shadow, .9);
$shadow--bitless: rgba($shadow, .6);
$shadow--less: rgba($shadow, .3);
$shadow--tiny: rgba($shadow, .1);
$nav: #303030;
$footer--nav: #40444b;
$nav--green: #52930b;
$light-grey-bg: #fafafa;
$black--kelpaint: #282828;
$black--light: rgba($black--kelpaint, .7);
$offwhite: #f3f3f3;
$offwhite--lighter: (#f3f3f3, .5);
$aboutImage-bg: #F0F5F7;
$tree: #4d544f;
$candle: #fffcbb;
$leaf--green: #3d583d;
$robeViolet: #6d619d;


//Utility colors
$black: #000;
$white: #fff;
$beige: #eCe6d1;
$orange: #f60;
$red: #f00;
$blue: #00f;
$aqua: #0ff;
$yellow: #ff0;
$lime: #0f0;
$fuchsia: #f0f;
$green: #008000;
$olive: #808000;
$teal: #008080;
$purple: #800080;
$silver: #c0c0c0;
$maroon: #800000;
$gray: #808080;


// Utilities

//center text within div
.u-center-text { text-align: center; }

//margins
.u-margin-bottom-large { margin-bottom: 8rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-tiny { margin-bottom: .3rem; }

.u-margin-top-large { margin-top: 8rem; }
.u-margin-top-medium { margin-top: 4rem; }
.u-margin-top-small { margin-top: 2rem; }
.u-margin-top-tiny { margin-top: .3rem; }

.transparency {
  background-color: transparent;
}

.lighter { opacity: .7;}
